In [11]:
import requests
import pandas as pd
import json
from urllib.request import urlopen
from bs4 import BeautifulSoup

In [22]:
abbr = ['AL','AK','AS','AZ','AR','CA','CO','CT','DE','DC','FL',
        'GA','GU','HI','ID','IL','IN','IA','KS','KY','LA','ME',
        'MD','MA','MI','MN','MS','MO','MT','NE','NV','NH','NJ',
        'NM','NY','NC','ND','MP','OH','OK','OR','PA','PR','RI',
        'SC','SD','TN','TX','UT','VT','VA','VI','WA','WV','WI','WY']

# abbr = ['AL','AK']

In [30]:
birth_data = []

for state in abbr:
    print(state)
    
    url = f'https://www.basketball-reference.com/friv/birthplaces.fcgi?country=US&state={state}'
    html = urlopen(url)
    soup = BeautifulSoup(html, features='lxml')
    
    try:
        headers = [th.getText() for th in soup.findAll('tr', limit=2)[1].findAll('th')]
    except Exception as e:
        print(e)
        pass
    try:
        rows = soup.findAll('tr')[2:]
    except Exception as e:
        print(e)
        pass
    try:
        rows_data = [[td.getText() for td in rows[i].findAll('td')]for i in range(len(rows))]
    except Exception as e:
        print(e)
        pass
        
    last_year = 2022
    for i in range(0, len(rows_data)):
        rows_data[i].insert(0, last_year)
        last_year -=1
        
    df = pd.DataFrame(rows_data, columns = headers)
    df['State'] = state
    
    birth_data.append(df)
birth_data = pd.concat(birth_data)

AL
AK
AS
list index out of range
AZ
AR
CA
CO
CT
DE
DC
FL
GA
GU
list index out of range
HI
ID
IL
IN
IA
KS
KY
LA
ME
MD
MA
MI
MN
MS
MO
MT
NE
NV
NH
NJ
NM
NY
NC
ND
MP
list index out of range
OH
OK
OR
PA
PR
list index out of range
RI
SC
SD
TN
TX
UT
VT
list index out of range
VA
VI
list index out of range
WA
WV
WI
WY

In [31]:
birth_data

,Rk,Player,Yrs,From,To,G,MP,FG,FGA,3P,...,FG%,3P%,FT%,MP,PTS,TRB,AST,Date,City,State
0,2022,Michael Ansley,3,1990,1992,149,2143,383,746,0,...,.513,,.722,14.4,6.9,4.2,0.4,"Feb 8, 1967",Birmingham,AL
1,2021,Keith Askins,9,1991,1999,486,7983,677,1688,275,...,.401,.355,.717,16.4,3.8,2.9,0.8,"Dec 15, 1967",Athens,AL
2,2020,Carl Bailey,1,1982,1982,1,7,1,1,0,...,1.000,,,7.0,2.0,0.0,0.0,"Apr 23, 1958",Birmingham,AL
3,2019,Charles Barkley*,16,1985,2000,1073,39330,8435,15605,538,...,.541,.266,.735,36.7,22.1,11.7,3.9,"Feb 20, 1963",Leeds,AL
4,2018,Eric Bledsoe,12,2011,2022,756,21021,3689,8169,854,...,.452,.336,.784,27.8,13.7,3.9,4.7,"Dec 9, 1989",Birmingham,AL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2,2020,Vern Gardner,3,1950,1952,151,507,514,1493,,...,.344,,.748,18.8,8.9,4.0,1.6,"May 14, 1925",Afton,WY
3,2019,James Johnson,14,2010,2023,748,15327,2283,4814,378,...,.474,.302,.679,20.5,7.7,3.6,2.1,"Feb 20, 1987",Cheyenne,WY
4,2018,John Pilch,1,1952,1952,9,41,1,10,,...,.100,,.500,4.6,0.6,1.0,0.2,"Jul 11, 1925",Sheridan,WY
5,2017,Moe Radovich,1,1953,1953,4,33,5,13,,...,.385,,1.000,8.3,3.5,0.3,2.0,"May 5, 1929",Hot Springs,WY
6,2016,Floyd Volker,1,1950,1950,54,,163,527,,...,.309,,.550,,7.4,,2.1,"Jun 21, 1921",Casper,WY

In [34]:
cols = ['Player','Yrs','From','To','Date','City','State']
birth_data = birth_data.loc[:,cols]
birth_data

              Player Yrs  From    To          Date         City State
0     Michael Ansley   3  1990  1992   Feb 8, 1967   Birmingham    AL
1       Keith Askins   9  1991  1999  Dec 15, 1967       Athens    AL
2        Carl Bailey   1  1982  1982  Apr 23, 1958   Birmingham    AL
3   Charles Barkley*  16  1985  2000  Feb 20, 1963        Leeds    AL
4       Eric Bledsoe  12  2011  2022   Dec 9, 1989   Birmingham    AL
..               ...  ..   ...   ...           ...          ...   ...
2       Vern Gardner   3  1950  1952  May 14, 1925        Afton    WY
3      James Johnson  14  2010  2023  Feb 20, 1987     Cheyenne    WY
4         John Pilch   1  1952  1952  Jul 11, 1925     Sheridan    WY
5       Moe Radovich   1  1953  1953   May 5, 1929  Hot Springs    WY
6       Floyd Volker   1  1950  1950  Jun 21, 1921       Casper    WY

[4428 rows x 7 columns]

In [35]:
birth_data.to_csv('output/us_born.csv')