In [2]:
# dependencies
import nba_api
import pandas as pd
import json
import pprint as pp

In [7]:
from nba_api.stats.endpoints import draftcombineplayeranthro

# seasons to gather data for
seasons = ['2002-03', '2003-04', '2004-05', '2005-06', '2006-07', '2007-08', '2008-09', '2009-10', 
           '2010-11', '2011-12', '2012-13', '2013-14', '2014-15', '2015-16', '2016-17', '2017-18',
           '2018-19', '2019-20', '2020-21', '2021-22']

# to hold player data
player_df = []

# iterate through seasons to download combine data
for season in seasons:
    print(season)
    
    try: 
        response = draftcombineplayeranthro.DraftCombinePlayerAnthro(league_id='00',season_year=seasons)
        dictionary = response.get_dict()
        result = dictionary['resultSets'][0]
        header = result['headers']
        data = result['rowSet']
        df = pd.DataFrame(data, columns=header)
        player_df.append(df)
        print('success')
    except Exception as e:
        print (e)
        try:
            response = draftcombineplayeranthro.DraftCombinePlayerAnthro(league_id='00',season_year=seasons)
            dictionary = response.get_dict()
            result = dictionary['resultSets'][0]
            header = result['headers']
            data = result['rowSet']
            df = pd.DataFrame(data, columns=header)
            player_df.append(df)
            print('success')
        except Exception as e:
            print(e)
            pass

# concatenate dataframes
player_df = pd.concat(player_df)
player_df

2002-03
success
2003-04
success
2004-05
success
2005-06
success
2006-07
success
2007-08
success
2008-09
success
2009-10
success
2010-11
success
2011-12
success
2012-13
success
2013-14
success
2014-15
success
2015-16
success
2016-17
success
2017-18
success
2018-19
success
2019-20
success
2020-21
success
2021-22
success

,TEMP_PLAYER_ID,PLAYER_ID,FIRST_NAME,LAST_NAME,PLAYER_NAME,POSITION,HEIGHT_WO_SHOES,HEIGHT_WO_SHOES_FT_IN,HEIGHT_W_SHOES,HEIGHT_W_SHOES_FT_IN,WEIGHT,WINGSPAN,WINGSPAN_FT_IN,STANDING_REACH,STANDING_REACH_FT_IN,BODY_FAT_PCT,HAND_LENGTH,HAND_WIDTH
0,None,2403,Nene,,Nene,PF,81.25,6' 9.25'',None,None,253,88.50,7' 4.5'',109.0,9' 1'',None,None,None
1,None,2425,Robert,Archibald,Robert Archibald,PF-C,82.00,6' 10'',None,None,250,83.75,6' 11.75'',109.5,9' 1.5'',None,None,None
2,None,2486,Maurice,Baker,Maurice Baker,PG,71.75,5' 11.75'',None,None,178,76.00,6' 4'',96.0,8' 0'',None,None,None
3,None,2440,Matt,Barnes,Matt Barnes,SF,78.75,6' 6.75'',None,None,226,81.00,6' 9'',96.5,8' 0.5'',None,None,None
4,None,12286,Lubos,Barton,Lubos Barton,SF-SG,78.50,6' 6.5'',None,None,221,84.00,7' 0'',107.0,8' 11'',None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,None,2421,Frank,Williams,Frank Williams,PG,73.50,6' 1.5'',None,None,212,80.00,6' 8'',100.5,8' 4.5'',None,None,None
78,None,2465,George,Williams,George Williams,PF-SF,77.75,6' 5.75'',None,None,214,84.50,7' 0.5'',103.0,8' 7'',None,None,None
79,None,2398,Jay,Williams,Jay Williams,PG,72.25,6' 0.25'',None,None,197,75.50,6' 3.5'',97.0,8' 1'',None,None,None
80,None,2417,Qyntel,Woods,Qyntel Woods,SF-SG,79.00,6' 7'',None,None,213,82.00,6' 10'',105.0,8' 9'',None,None,None
81,None,2428,Vincent,Yarbrough,Vincent Yarbrough,SF,77.50,6' 5.5'',None,None,202,84.50,7' 0.5'',104.5,8' 8.5'',None,None,None

In [8]:
# select columns for abridged dataframe
cols = ['PLAYER_ID', 'PLAYER_NAME', 'POSITION', 'WINGSPAN', 'STANDING_REACH']
anthro_df = player_df.loc[:,cols]
anthro_df

    PLAYER_ID        PLAYER_NAME POSITION  WINGSPAN  STANDING_REACH
0        2403              Nene        PF     88.50           109.0
1        2425   Robert Archibald     PF-C     83.75           109.5
2        2486      Maurice Baker       PG     76.00            96.0
3        2440        Matt Barnes       SF     81.00            96.5
4       12286       Lubos Barton    SF-SG     84.00           107.0
..        ...                ...      ...       ...             ...
77       2421     Frank Williams       PG     80.00           100.5
78       2465    George Williams    PF-SF     84.50           103.0
79       2398       Jay Williams       PG     75.50            97.0
80       2417       Qyntel Woods    SF-SG     82.00           105.0
81       2428  Vincent Yarbrough       SF     84.50           104.5

[1640 rows x 5 columns]

In [9]:
# print to csv
anthro_df.to_csv('output/anthro.csv', index=False)