In [6]:
import nba_api
import pandas as pd
import json
import pprint as pp

In [2]:
def get_anthro_df(response):
    
    data_dict = response.get_dict()

    results = data_dict['resultSets'][0]

    header = results['headers']

    anthro = results['rowSet']

    anthro = pd.DataFrame(anthro, columns=header)

    return anthro

In [3]:
from nba_api.stats.endpoints import draftcombineplayeranthro

# # draft_year_start = 2000
# seasons = ['2000-01', '2001-02']
# df = pd.DataFrame()


# # for i in range(2000, 2023):
# for season in seasons:
#     # if(i < 2009):
#     #     draft_year = f'{i}-0{i-1999}'
#     # else:
#     #     draft_year = f'{i}-{i-1999}'
        
#     # print(draft_year)
#     print(season)
    
#     try:
#         response = draftcombineplayeranthro.DraftCombinePlayerAnthro(league_id='00',season_year=season)
#         anthro = get_anthro_df(response)
#     except Exception as e:
#         print(e)
#         try:
#             response = draftcombineplayeranthro.DraftCombinePlayerAnthro(league_id='00',season_year=season)
#             anthro = get_anthro_df(response)
#         except Exception as e:
#             print(e)
#             pass

#     try: 
#         df.concat(anthro)
#     except Exception as e:
#         print(e)
#         pass

2000-01
'DataFrame' object has no attribute 'concat'
2001-02
'DataFrame' object has no attribute 'concat'

In [21]:
from nba_api.stats.endpoints import draftcombineplayeranthro

seasons = ['2002-03', '2003-04', '2004-05', '2005-06', '2006-07', '2007-08', '2008-09', '2009-10', 
           '2010-11', '2011-12', '2012-13', '2013-14', '2014-15', '2015-16', '2016-17', '2017-18',
           '2018-19', '2019-20', '2020-21', '2021-22']
player_df = []

for season in seasons:
    print(season)
    
    try: 
        response = draftcombineplayeranthro.DraftCombinePlayerAnthro(league_id='00',season_year=seasons)
        dictionary = response.get_dict()
        result = dictionary['resultSets'][0]
        header = result['headers']
        data = result['rowSet']
        df = pd.DataFrame(data, columns=header)
        player_df.append(df)
    except Exception as e:
        print (e)
        pass

# print(header)
# pp.pprint(data)
player_df = pd.concat(player_df)
player_df

2002-03
2003-04
2004-05
2005-06
2006-07
2007-08
2008-09
2009-10
2010-11
2011-12
2012-13
2013-14
2014-15
2015-16
2016-17
2017-18
2018-19
2019-20
2020-21
2021-22

   TEMP_PLAYER_ID  PLAYER_ID FIRST_NAME  ... BODY_FAT_PCT HAND_LENGTH HAND_WIDTH
0            None       2403       Nene  ...         None        None       None
1            None       2425     Robert  ...         None        None       None
2            None       2486    Maurice  ...         None        None       None
3            None       2440       Matt  ...         None        None       None
4            None      12286      Lubos  ...         None        None       None
..            ...        ...        ...  ...          ...         ...        ...
77           None       2421      Frank  ...         None        None       None
78           None       2465     George  ...         None        None       None
79           None       2398        Jay  ...         None        None       None
80           None       2417     Qyntel  ...         None        None       None
81           None       2428    Vincent  ...         None        None       None

[1640 rows x 18 columns]

In [23]:
cols = ['PLAYER_ID', 'PLAYER_NAME', 'POSITION', 'WINGSPAN', 'STANDING_REACH']
anthro_df = player_df.loc[:,cols]
anthro_df

    PLAYER_ID        PLAYER_NAME POSITION  WINGSPAN  STANDING_REACH
0        2403              Nene        PF     88.50           109.0
1        2425   Robert Archibald     PF-C     83.75           109.5
2        2486      Maurice Baker       PG     76.00            96.0
3        2440        Matt Barnes       SF     81.00            96.5
4       12286       Lubos Barton    SF-SG     84.00           107.0
..        ...                ...      ...       ...             ...
77       2421     Frank Williams       PG     80.00           100.5
78       2465    George Williams    PF-SF     84.50           103.0
79       2398       Jay Williams       PG     75.50            97.0
80       2417       Qyntel Woods    SF-SG     82.00           105.0
81       2428  Vincent Yarbrough       SF     84.50           104.5

[1640 rows x 5 columns]

In [24]:
anthro_df.to_csv('output/anthro.csv')